body {font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
h3{
  color:black;
}
.wrapper {
display: flex;
align-items: left;
flex-direction: row; 
justify-content: center;
width: 100%;
height: 100%;
background: #fff;
float: left;
position: relative;
text-align: center;
background: #fff;
}

.tab {
  float: left;
 
}

/* Style the buttons inside the tab */
.tab button {
  background-color: white;
  color: black;
  display: block;
  margin-left: 10px 10px 10px 10px;
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color:green;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color:green;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 0px;
  width: 70%;
  border-left: none;
  height: 380px;  

}

.l button{
  display: block;
  color: black;
  width: 500px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  margin-top: 0px;
}




  .scrollbar {
    margin-bottom: 0px;
    float: left;
    height: 500px;
    max-width: 100%;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
    }
    
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  .btnsend:hover {
    color:  green;
  }

.btnsend{
  font-size: 20px;
  color: black;
  margin: auto;
}
.btn:hover {
  color: black;
  font-size: 15px;
}

select{
  color: #777;
  padding-left: 10px;
  margin: 10px;
  margin-top: 2px;
  margin-left: 18px;
  width: 300px;
  height: 35px;
  border: 1px solid #c7d0d2;
  border-radius: 2px;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4); 
}

button {
  color: black;
  display: block;
  padding: 12px 28px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
}
