<div class="wrapper">

    <div>
        <a routerLink="abovebmi25">
                    <button class="btn btn-danger" (click)="activeA()">
            <h4>Above BMI 25</h4>
            <h5 style="color:black;">Users with BMI above 25</h5>
        </button>
        </a>
    </div>
    <a routerLink="belowbmi25">
            <button class="btn btn-warning" (click)="activeB()">
            <h4>Below BMI 25</h4>
            <h5 style="color:black;">Users with BMI below 25</h5></button> </a>
    <router-outlet></router-outlet>

</div>