html, body {
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	
}
.feedback{
  color: red;
  font-size: 12px; 
  text-align: center;
}

#container {
  border: 5px solid black;
	position: fixed;
	width: 340px;
	height: 310px;
	top: 50%;
	left: 50%;
	margin-top: -140px;
	margin-left: -170px;
}

  form {
    margin: 0 auto;
    margin-top: 20px;
  }
  input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
  }
  input[type=text], input[type=password] {
    padding-left: 10px;
    margin: 10px;
    margin-top: 2px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4);
  }
  input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    width: 300px;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #063E20;
    border-radius: 30px;
    border: 1px solid #006699;
  }
  
  input[type=submit]:hover {
    background: #61C955;
  }

  a{
    display: block;
    text-align: center;
    line-height: 28px;/* for vertical alignment of register **/
    text-decoration: none;  
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    width: 300px;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #08338C;
    border-radius: 30px;
  }
  a:hover{
    background: #116ADA;
  }