.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    padding: 20px;
    margin-left: 10%;
    margin-top: 5%;
  }
  .formContent {
   
    border-radius: 10px 10px 10px 10px;
    min-width: 40%;
    min-height:40%;
    background: #fff;
    position: relative;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom:40px;
    padding-right: 60px;
    text-align: center;
  }

  .btnsend {
    background-color: white;
      border: none;
      color: grey;
      font-size: 30px;
      cursor: pointer;
    }
    .btnsend:hover {
      color:  #56baed;
      font-size: 35px;
    }
    