<h1 style="text-align: center;"> User Details </h1>
<div class="container">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table class="table table-bordered table-hover table-sm" align="center">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 100px"> # </th>
                    <th style="width:100px;"> # </th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>Firstname</td>
                    <td>{{user.fname}}</td>
                </tr>
                <tr>
                    <td>Lastname</td>
                    <td>{{user.lname}}</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>{{user.age}}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{user.gender}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{user.mobile}}</td>
                </tr>
                <tr>
                    <td>Mail</td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{user.address}}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{user.city}}</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>{{user.state}}</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>{{user.country}}</td>
                </tr>
                <tr>
                    <td>PIN</td>
                    <td>{{user.pincode}}</td>
                </tr>
                <tr>
                    <td>Height</td>
                    <td>{{user.height}}</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>{{user.weight}}</td>
                </tr>
                <tr>
                    <td>Medical(If any)</td>
                    <td>{{user.medical}}</td>
                </tr>
                <tr>
                    <td>Dietary</td>
                    <td>{{user.dietary}}</td>
                </tr>
                <tr>
                    <td>Food</td>
                    <td>{{user.food}}</td>
                </tr>
                <tr>
                    <td>Referred By</td>
                    <td>{{user.referral}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
