<form (ngSubmit)="send()">
    <textarea maxlength = "20" placeholder="Type a message" class="form-control form-control-sm"  ngModel name="msg" id="msg"  [(ngModel)]="msg"></textarea>
  <!-- <textarea rows="5" cols="35" placeholder="Send Message" ngModel name="msg" id="msg" [(ngModel)]="msg"></textarea> -->
  <button class="btnsend">SEND Message</button>
</form>
<div class="scrollbar scrollbar-primary">
  <div class="force-overflow">
    <div class="chat">
      <div *ngFor="let msg of chat">
        <div *ngIf="msg.msg!=null">
          <div *ngIf="msg.fmail==emailId">
            <div class="mine messages">
              <div class="message last">
                <br>
                <span class="othermsg">{{msg.msg}}</span><br><br>
                <small><small><small><small style="float: right;color: black;">{{msg.time}}</small></small>
                </small>
                </small><br>
              </div>
            </div>
          </div>
          <div *ngIf="msg.fmail!=emailId">
            <div class="yours messages">
              <div class="message last">
                <br>
                <span class="othermsg">{{msg.msg}}</span><br><br>
                <small><small><small><small style="float: right;color: black;">{{msg.time}}</small></small>
                </small>
                </small><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-inline">

</div>